.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    gap: 1rem;
    padding: 1rem;
}

.web-snap-card {
    background-color: aliceblue;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}